@font-face {
    font-family: impact;
    src: url(../fonts/impactreg.woff);
}

@font-face {
    font-family: halo;
    src: url(../fonts/Halo3.ttf);
}
/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/


body {
    /*background-image: url("../media/castle-02a.jpg")*/
    background: url("../media/kingsLanding.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    color: #3E3919 ;
    font-family: halo, halo, halo  sans-serif;
    text-transform: capitalize;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;

}

#wrapper{
    position:absolute;
    width:100%;
}

header{
    position:relative;
    top: 0px;
    height: 50px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;

}
section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    witdh:90%;
    margin-top: 100px;

}
footer{
    position:fixed;
    bottom:5px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

button {
    font-family: halo, halo, halo  sans-serif;
    color: #3E3919;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size:3rem;

}
button:hover {
    color: #FF6000;
}



/*---------------------*/
/*  REUSABLE CLASSES   */
/*---------------------*/
.hide{
    display: none;
}

input[type='checkbox'] {
    visibility: hidden;
}


/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

#firstPage{
    margin-top: 300px;
}


#secondPage{
    margin-top: 250px;

}

/*-----5th Page-----*/
#fifthPageNewGame ul li button {
    margin:1%;
}



#fifthPageNewGame button:hover {
    color: #FF6000;
}



#sixtPageNewGame ul li {
    margin:50px;
}

/*-----buildOwnDeck Page-----*/

#buildOwnDeckPage ul {
    display: inline-block;
    margin-left: 25px;
    text-align: left;

}

#buildOwnDeckPage ul li {
    display:block;
    width: 100%;

}


input[type="checkbox"]:checked +label{

    color: #FF6000;

}
input[type="checkbox"],
input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
}

input[type="text"] {
    background-color: transparent;
    color:#FFFFFF;
    border-color:#3E3919;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
}


iput[type="text"]:focus {
    outline: none;
    border-color: #3E3919;
    box-shadow: 0 0 10px #3E3919;

}
/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

h1{
    font-size: 5.5rem;
}

h2{
    font-size: 4.5rem;

}
h3{
    font-size: 4rem;
}

form{
    margin-top: 40px;
}


a{
    text-decoration: none;
    color: #3E3919;
}

a:active {

    color: #FF6000;
}

#goBack{
    margin-right: 50px;
}

.foundGame{
    margin-top: 40px;
    margin-bottom: 20px;

}
.foundGame h2{
    font-size: 3rem;

}
